.create-itinerary {
  padding: 16px;
}

.create-itinerary h1 {
  margin-bottom: 16px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(68, 156, 117, 0.7);
  color: #2d3047;
}

#enter-itinerary .editable-div,
#enter-itinerary .text-input {
  padding: 8px;
  overflow-wrap: break-word;
}

#enter-description .editable-div,
#enter-description .text-input {
  height: 180px;
  padding: 8px;
  overflow-wrap: break-word;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons button {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(68, 156, 117, 0.7);
  color: #2d3047;
  border: none;
  cursor: pointer;
}

.buttons a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(68, 156, 117, 0.7);
  color: #2d3047;
  cursor: pointer;
}

.buttons a:hover {
  background-color: rgba(68, 156, 117, 0.85);
}
