.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(30,50,95,0.8);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    margin: 10px;
}

.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.user-icon {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid gray; 
}