.itinerary-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #71c19d;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  color: #2d3047;
}

.itinerary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(68, 156, 117, 0.7);
  border-radius: 8px;
  padding: 8px;
  font-size: 0.8rem;
}

.itinerary-card p {
  font-size: 0.8rem;
  margin: 0 0 8px;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
}

.rating {
  vertical-align: bottom;
}

.star {
  color: gray;
  font-size: 2rem;
}

.star.filled {
  color: gold;
}

.itinerary-card button {
  background-color: rgba(68, 156, 117, 0.7);
  color: #2d3047;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
