.sidebar {
    padding: 16px;
}

.sidebar h1 {
    margin-bottom: 16px;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(68,156,117,0.7);
    color: #2D3047;
}

.sidebar h2 {
    margin-bottom: 16px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(68,156,117,0.7);
    color: #2D3047;
}

.search-filter {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.search-filter input[type="text"] {
    background-color: #FFFDF0;   
    border: 2px solid #449C75;  
    color: #2D3047;               
    padding: 6px 10px;         
    border-radius: 8px;
}

.search-filter input {
    flex: 1;
    padding: 6px;
    border-radius: 4px;
    border: none;
}

.search-filter button {
    padding: 6px 12px;
    border: none;
    background-color: rgba(68,156,117,0.7);
    color: #2D3047;
    border-radius: 8px;
    cursor: pointer;
}

