.sidebar {
    padding: 16px;
}

.sidebar h1 {
    margin-bottom: 16px;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(30,50,95,0.8);
}

.sidebar h2 {
    margin-bottom: 16px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(30,50,95,0.8);
}

.search-filter {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.search-filter input {
    flex: 1;
    padding: 6px;
    border-radius: 4px;
    border: none;
}

.search-filter button {
    padding: 6px 12px;
    border: none;
    background-color: rgba(30,50,95,0.8);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

