.editable-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
}

.editable-div {
  color: #fffdf0;
  padding: 10px 12px;
  border: 1px solid #fffdf0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  background-color: #449c75;
  transition: border-color 0.2s, box-shadow 0.2s;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.editable-div:hover {
  border-color: #888;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.text-input-field {
  display: flex;
  gap: 8px;
}

.text-input-field[data-type="description"] {
  flex-direction: column;
}

.text-input-field[data-type="itinerary-name"] {
  flex-direction: row;
}

.text-input {
  color: #fffdf0;
  flex-grow: 1;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #fffdf0;
  border-radius: 6px;
  outline: none;
  background-color: #449c75;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.text-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.description-input {
  min-height: 60px; /* allow some vertical space */
  resize: vertical; /* allow user to resize */
  white-space: pre-wrap; /* wrap text */
  overflow-wrap: break-word; /* break long words */
}

.text-input,
.description-input {
  font-family: inherit;
  font-size: 16px;
  color: #fffdf0; /* ensure text color matches */
}

.submit-button {
  color: #fffdf0;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #fffdf0;
  background-color: #449c75;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.submit-button:hover {
  background-color: #71c19d;
  transform: translateY(-1px);
}
