html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fffdf0;
  font-family: Arial, sans-serif;
}

.homepage {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
}

.map-placeholder {
  flex: 1;
  display: flex;
  color: #444;
  font-size: 1.2rem;
}

.sidebar-container {
  width: 350px;
  background-color: rgba(113, 193, 157, 0.7);
  color: white;
  overflow-y: auto;
  padding: 5px 5px;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
